<h1>Cocktails#_form</h1>
<p>Find me in app/views/cocktails/_form.html.erb</p>

<%= simple_form_for([cocktail, dose]) do |f| %>
  <%= f.input :name %>
  <%= f.input :doses %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
